<div id="box">
    <div id="container">
      <h1>ToDo List</h1>    
      
    <div *ngIf="isLoading$ | async">Loading...</div>

    <div *ngIf="error$ | async as error">Loading...</div>

      <mat-selection-list #tasks>
          <mat-list-item *ngFor="let task of tasks$ | async"> 
          <!-- <mat-list-item *ngFor="let task of listOfTasks">  -->
              {{task.title}}  
              <div id="options">
                <mat-checkbox class="example-margin" checkbox style="margin-left:10px; margin-right: 10px;" (change)="checkboxChange($event, task)" id={{task.id}} [checked]="task.status"></mat-checkbox>
                <button matSuffix mat-icon-button aria-label="Clear" [id]="task.id" (click)="deleteTask(task)">
                  <mat-icon [id]="task.id">delete</mat-icon>
                </button>
                <button matSuffix mat-icon-button aria-label="Clear" [id]="task.id" (click)="editTask(task)">
                  <mat-icon [id]="task.id">edit</mat-icon>
                </button>
              </div>
          </mat-list-item>
      </mat-selection-list>
      <div class="footer">
        <button mat-button (click)="setVisibleForm()">
          <mat-label>Dodaj zadanie</mat-label>
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="footer">
        <p id="postep">
          <!-- Postęp: {{tasks.selectedOptions.selected.length}} / {{listOfTasks.length}} -->
          Postęp: {{progress$ | async}} / {{amountOfTasks$ | async}}
        </p>
      </div>
        <form [hidden]="isHiddenAddForm" (ngSubmit)="addTask($event)">
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Dodaj zadnie</mat-label>
            <input matInput name="task">
            <button matSuffix mat-icon-button aria-label="Clear" type="submit">
              <mat-icon>add</mat-icon>
            </button>
          </mat-form-field>
        </form>
  
        <form [hidden]="isHiddenEditForm" (ngSubmit)="saveEditedTask($event)">
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Edytuj zadnie</mat-label>
            <input matInput name="task" [value]="taskEdit.title">
            <button matSuffix mat-icon-button aria-label="Clear">
              <mat-icon>done</mat-icon>
            </button>
          </mat-form-field>
        </form>
    </div>
  </div>
  
    